.IntroBanner {
    padding-top: 7.1875em;
    padding-bottom: 10.625em;
    text-align: center;
    justify-content: center;
}

.Headline {
    margin: 0 auto;
    width: 66.6667%;
    font-weight: 300;
    font-size: 3.5em;
    padding-bottom: 5rem;
}

.banner-icon {
    padding-bottom: 2.375em;
    width: 5.75em;
}

.CTA-Button {
    height: 65px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: var(--action-blue);
    font-size: 1.25em;
    padding: 0 2em;
    font-family: "Open Sans", sans-serif;
    border-radius: 0.5em;
}

.CTA-Button:hover {
    cursor: pointer;
    background-color: var(--attention-text-color);
}

@media (max-width: 767px) {
    .Headline {
        width: 90%;
    }
}
