.ContentRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
}

.BlockImage,
.BlockText {
    display: block;
    flex: 1;
    justify-content: center;
    align-self: center;
    max-height: 36em;
}

.BlockImage img {
  object-fit: cover;
  width: 100%;
}

.BlockText h2,
p {
  width: 66.66667%;
  text-align: left;
  margin: 0 auto;
  display: flex;
}


.BlockText h2:before {
    content: "";
    background-color: #84959c;
    width: 31px;
    height: 2px;
    margin-left: -51px;
    margin-right: 20px;
    justify-content: center;
    align-self: center;
  }

  @media (max-width: 767px) {
    .ContentRow {
      display: block;
      margin-bottom: 1em;
    }
    .BlockText, .BlockImage {
      width: 100%;
      max-height: 100%;
      display: block;
    }
    .BlockText {
      padding: 4em 0;
    }
    .BlockImage img {
      width: 100%;
      height: auto;
    }
    .resizeDisplay {
      display: none;
    }
    .mobileView {
      display: block;
    }
  }