.Menu {
  height: 100px;
  margin-top: -20px;
  position: relative;
  z-index: 100;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
}
.Menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
}

.menu-list-item {
  display: table-cell;
}

.menu-list-item a {
  margin-left: 40px;
  margin-right: 40px;
}

.Nav-Link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--attention-text-color);
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 768px) {
  .Menu a:hover {
    border-bottom: 0.25em solid var(--action-blue);
    margin-bottom: -.25em;
  }
}

@media (max-width: 767px) {
  .Menu {
    height: auto;
    box-shadow: none;
  }

  .Menu ul {
    width: 100%;
    height: 100%;
  }

  .menu-list-item {
    display: block;
    padding: 1.25em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
  }
}