.ContentGrid {
    max-width: 1440px;
    margin: 0 auto;
}

.ContentRow {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    flex-direction: row;
}

.ContentGrid .ContentRow:nth-child(even) {
    flex-direction: row-reverse !important;
}

.BlockImage,
.BlockText {
    display: block;
    flex: 1;
    justify-content: center;
    align-self: center;
}

.BlockImage img {
    object-fit: cover;
    vertical-align: top;
    width: 100%;
}

.BlockText h2,
p {
    width: 66.66667%;
    text-align: left;
    margin: 0 auto;
    display: flex;
}

.BlockText p {
    font-size: 1.125em;
    font-weight: 300;
    padding-top: 2em;
}

.BlockText h2:before {
    content: "";
    background-color: #84959c;
    width: 31px;
    height: 2px;
    margin-left: -51px;
    margin-right: 20px;
    justify-content: center;
    align-self: center;
}

@media (max-width: 767px) {
    .ContentRow {
        display: inline-grid;
        margin-bottom: 1em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
    }
    .ContentRow:last-of-type {
        margin-bottom: 0;
    }
    .BlockText,
    .BlockImage {
        width: 100%;
        max-height: 100%;
        display: block;
        flex: 1 100%;
    }
    .BlockImage {
        order: 2;
    }
    .BlockText {
        order: 1;
        padding: 4em 0;
    }
    .BlockImage img {
        width: 100%;
        height: auto;
    }
    .resizeDisplay {
        display: none;
    }
    .mobileView {
        display: block;
    }
}
