body {
    margin: 0;
    text-align: center;
    --background-color: #fbfafa;
    --footer-background-color: #efefef;
    --body-text-color: #555559;
    --attention-text-color: #2e2e2e;
    --action-blue: #286782;
    font-family: 'Open Sans', sans-serif;
    color: var(--body-text-color);
}